@font-face {
	font-family: 'GillSansBold';
	font-display: swap;
	src: url('../fonts/gill_sans_bold.otf');
	src: url('../fonts/gill_sans_bold.woff') format('woff'),
	url('../fonts/gill_sans_bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GillSans';
	font-display: swap;
	src: url('../fonts/gill_sans.otf');
	src: url('../fonts/gill_sans.woff') format('woff'),
	url('../fonts/gill_sans.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: text;
	margin: 0;
	padding: 0;
}

html{
	font-size: 10px;
}

body {
	font-family: "GillSans", Helvetica, Arial, sans-serif;
	color: #282828;
	min-width: 320px;
}

a, a:hover {
	color: #282828; 
}

a:focus,
a:hover {
	text-decoration: none;
}

a:active {
	-webkit-tap-highlight-color: transparent;
	-webkit-tap-highlight-color: transparent;
}

.btn:active:focus,
.btn:focus,
button:active:focus,
button:focus,
a:focus,
input:focus {
	outline: none; 
}

input, input[type="submit"]{
	-webkit-appearance: none !important;
	outline: none !important; 
}

img {
	max-width: 100%;
}

ul{
	margin: 0;
	padding: 0;
}

ul li{
	list-style: none;
}
/*=============Header===============*/
header{
	background: url(../img/texture.png) no-repeat #f8edda;
	background-size: cover;
	padding: 6rem 3%;
	color:  #ffffff;
}

.header{
	position: relative;
	background: #c499cb;
	background: -moz-linear-gradient(top, #c499cb 0%, #dbc0df 100%); 
	background: -webkit-linear-gradient(top, #c499cb 0%,#dbc0df 100%); 
	background: linear-gradient(to bottom, #c499cb 0%,#dbc0df 100%);
}

.header__text{
	position: absolute;
	left: 4rem;
	top: 3.5rem;
	padding-right: 2rem;
}

.header__small-text{
	font: 9.077rem "GillSansBold";
	text-shadow: 6px 10px 12px rgba(0, 0, 0, 0.05);
}

.header__big-text{
	font: 10.608rem "GillSansBold";
	text-shadow: 6px 10px 12px rgba(0, 0, 0, 0.1);
}

.logo{
	position: absolute;
	right: 3rem;
	bottom: 3rem;
	width: 227px;
}
/*=============Soap===============*/
.soap{
	background: #d0efee;
	padding: 4rem 3.75%;
	font:2.913rem/1.3 "GillSans";
	color:  #cd7f32;
}

.soap span{
	font-family: "GillSansBold";
}

.soap .brown{
	color:  #816040;
}

.soap__plastic{
	font-family: "GillSansBold";
	color:  #02b2b9;
	text-shadow: 6px 10px 12px rgba(0, 0, 0, 0.1);
	line-height: 1;
}

.soap__plastic .small{
	font-size: 15.643rem;	
}

.soap__plastic .big{
	font-size: 18.008rem;
	margin-left: -1.5rem;
}

.soap__form span.brown{
	font-family: "GillSans";
}

.soap__form form input{
	font-family: Arial;
	font-size: 2rem;
	padding: 2.15rem 2rem;
	border: 1px solid #7d8f8f;
	margin: -.5px -4px;
	min-width: 285px;
	box-shadow: 6px 10px 12px 0px rgba(0, 0, 0, 0.05);
}

.soap__form form input[type="submit"]{
	color: #fff;
	background: #8498df;
	cursor: pointer;
}

.soap__form form input[type="submit"]:hover{
	background: #728ade;
}

.soap__text p{
	margin-bottom: 4rem;
}

.soap__text hr{
	box-shadow: 6px 10px 12px 0px rgba(0, 0, 0, 0.05);
	height: 9px;
	background:  #cd7f32;
	margin: 5rem 0;
	border-radius: 4.5px;
}
/*=============Zero===============*/
.zero{
	padding: 7rem calc(5% - 1.5rem);
	background: #d0efee;
	background: -moz-linear-gradient(top, #d0efee 1%, #d0efee 35%, #abe3e5 35%, #abe3e5 100%); 
	background: -webkit-linear-gradient(top, #d0efee 1%,#d0efee 35%,#abe3e5 35%,#abe3e5 100%);
	background: linear-gradient(to bottom, #d0efee 1%,#d0efee 35%,#abe3e5 35%,#abe3e5 100%);
}

.zero__headline{
	font: 5.5rem "GillSansBold";
	color:  #7e5934;
}

.zero img{
	box-shadow: 6px 10px 12px 0px rgba(0, 0, 0, 0.05);
}
/*=============Join===============*/
.join{
	background: #abe3e5;
	padding: 4rem;
	font-size: 2rem;
	color: #344f55;
	margin-top: -1px;
}

.join__item{
	margin-bottom: 5rem;
}

.join__text{
	font: 10rem "GillSansBold";
	color: #cd7f32;
	text-shadow: 6px 10px 12px rgba(0, 0, 0, 0.1);
}

.join__img{
	height: 14rem;
	margin-bottom: 3rem;
}

.join img{
	max-width: 13rem;
	max-height: 13rem;
}
/*=============Waves===============*/
.waves{
	background: #abe3e5;
}
/*=============Problems===============*/
.problems{
	background: #43b0f1;
	color: #1e3d59;
	padding: 4rem 3%;
}

.problems__big{
	font: 10rem "GillSansBold";
	margin-bottom: 15rem;
}

.problems__big span{
	background: url(../img/bottle.png) no-repeat center top;
	background-size: 16rem 8.4rem;
}

.problems__title{
	font: 3.5rem "GillSansBold";
	margin-bottom: 2rem;
}

.problems__text{
	font-size: 2rem;
	margin-bottom: 5rem;
}
/*=============Media===============*/
@media (max-width: 1890px){
	.soap__plastic .small{
		font-size: 13rem;	
	}

	.soap__plastic .big{
		font-size: 16rem;
	}
}

@media (max-width: 1690px){
	.soap__plastic .small{
		font-size: 10rem;	
	}

	.soap__plastic .big{
		font-size: 13rem;
	}

	.zero__headline{
		font-size: 5rem;
	}
}

@media (max-width: 1440px){
	.header__small-text{
		font-size: 7rem;
	}

	.header__big-text{
		font-size: 8rem;
	}

	.join__text{
		font-size: 8.5rem;
	}
}

@media (max-width: 1280px){
	.logo{
		width: 180px;
		right: 2rem;
		bottom: 2rem;
	}

	.soap__plastic .small{
		font-size: 8rem;	
	}

	.soap__plastic .big{
		font-size: 11rem;
	}

	.zero__headline{
		font-size: 4.5rem;
	}

	.join__text{
		font-size: 7.5rem;
	}
}

@media (max-width: 992px){
	.header__small-text{
		font-size: 5rem;
	}

	.header__big-text{
		font-size: 6rem;
	}

	.logo{
		width: 160px;
	}

	.zero{
		background: -moz-linear-gradient(top, #d0efee 1%, #d0efee 45%, #abe3e5 45%, #abe3e5 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #d0efee 1%,#d0efee 45%,#abe3e5 45%,#abe3e5 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #d0efee 1%,#d0efee 45%,#abe3e5 45%,#abe3e5 100%);
	}

	.zero__headline{
		font-size: 4rem;
	}

	.problems__big{
		font-size: 8rem;
		margin-bottom: 8rem;
	}
}

@media (max-width: 768px){
	.header__small-text{
		font-size: 4rem;
	}

	.header__big-text{
		font-size: 5rem;
	}

	.header__text{
		position: relative;
		left: 0;
		top: 0;
		padding: 3.5rem 4rem;
	}

	.logo{
		width: 120px;
		right: 1.5rem;
		bottom: 1.5rem;
	}

	.zero{
		padding: 5rem calc(5% - 1.5rem);
	}

	.problems__big{
		font-size: 7rem;
	}
}

@media (max-width: 568px){
	html{
		font-size: 9px
	}

	.header{
		padding: 0 1px 4rem;
	}

	.soap__plastic .small{
		font-size: 6rem;	
	}

	.soap__plastic .big{
		font-size: 9rem;
	}

	.soap{
		font-size: 2.5rem;
	}

	.soap, .problems{
		padding: 4rem 0;
	}

	.soap__form form input{
		min-width: 270px;
	}

	.zero__headline{
		font-size: 3.5rem;
	}

	.zero{
		background: -moz-linear-gradient(top, #d0efee 1%, #d0efee 60%, #abe3e5 60%, #abe3e5 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #d0efee 1%,#d0efee 60%,#abe3e5 60%,#abe3e5 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #d0efee 1%,#d0efee 60%,#abe3e5 60%,#abe3e5 100%);
	}

	.join__text {
		font-size: 5rem;
	}

	.problems__big{
		font-size: 6rem;
	}
}